# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include tfplan files to ignore the plan output
*tfplan*

# Ignore output files
*_output*.txt
apply_output*.txt
plan_output*.txt

# Ignore CLI configuration files
.terraformrc
terraform.rc
